<!DOCTYPE html>

{import 'components/form.latte'}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" n:href="Homepage:default">Clanky</a>
                    </li>
                    {if $user->isLoggedIn()}





                    <li class="nav-item">
                        <a class="nav-link" n:href="Sign:change">Zmena hesla</a>
                    </li>





                    <li class="nav-item">
                        <a class="nav-link" n:href="Sign:out">Odhlásit</a>
                    </li>
            {else}



                    <li class="nav-item">
                        <a class="nav-link" n:href="Sign:up">Registrovat sa</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" n:href="Sign:in">Prihlasit</a>
                    </li>
            {/if}
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    {include content}
</div>
{block scripts}

<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
<script src="{$basePath}/js/main.js"></script>

<script>
    $(function () {
        $.nette.init();
    });
</script>
</body>
</html>
